@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .suivant:hover:has(  .formul) {
  border-color: #194084F2;
  transition: all;
  transition-duration: 300ms;
} */
.main-title{
  @apply leading-10 font-semibold text-[#194084] text-3xl lg:text-5xl p-16 lg:p-28;
}
@tailwind base;
@tailwind components;
@tailwind utilities;